.start
{
    background-color: #1abc9c;

}

.start .icon::before
{
    position: absolute;
    content: " ";
    background-color: white;
    right: 100%;
    width: 100px;
    height: 5px;
    top: 50%;
}
.start .icon::after
{
    position: absolute;
    content: " ";
    background-color: white;
    left: 100%;
    width: 100px;
    height: 5px;
    top: 50%
   
}