h3
{
    color: #2c3e50;
}
.test
{
    position: relative;
    overflow: hidden;
}
.test .layer
{
    position: absolute;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    

}
.test .layer:hover 
{
    background-color: hsl(160, 100%, 75%,0.9);
    opacity: 1;

}

.test .layer i
{
    top: 50%;
    right: 0%;
    transform: translate(90%,50%);
    font-size: 10rem;
    color: white;
}